<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container-fluid reset_pwd_instructions">
    <div class="row">
      <div class="col-5 mx-auto my-3">
        <p>Please check your email. Instructions were sent to your email address.</p>
      </div>
    </div>
  </div>
  <% include('../includes/footer.ejs') %>
  <%- include('../includes/scripts.ejs') %>
</body>
