<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container">
    <% if(errors || errorMessage) { %>
      <div class="alert alert-danger" role="alert">
         <%= errors || errorMessage %>
        </div>
    <% } %>
    <div class="row">
      <div class="col-4 mx-auto">
        <form action="/reset-password" method="POST">
              <div class="form-group">
                <p>We'll send password reset instructions to the email address associated with your account.</p>
                <label for="email">Enter Email Address</label>
                <input
                type="email"
                name="email"
                class="form-control"
                id="email-input"
                required>
              </div>
                  <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
      </div>
    </div>
  </div>

  <%- include('../includes/scripts.ejs') %>
</body>
