<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p>Please check your email. Instructions were sent to your email address.</p>
      </div>
    </div>
  </div>

  <%- include('../includes/scripts.ejs') %>
</body>
