<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
        <form>
            <div class="card">
                <div class="card-header">
                    Change Your Password
                </div>
                <div class="card-body">
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Old Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">New Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Confirm Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                  </div>

                </div>
              </div>


          <div class="row">
            <div class="col-2 mx-auto">
          <button type="submit" class="btn btn-primary">Save</button>

            </div>
          </div>
          </form>
    </div>
  </div>
</div>

  <%- include('../includes/scripts.ejs') %>
</body>
