<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container">
      <% if(errors) { %>
        <div class="alert alert-danger" role="alert">
           <%= errors %>
          </div>
      <% } %>
      <div class="row">
        <div class="col-4 mx-auto">
          <form action="/users/delete/confirm" method="POST">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="password-input"
                  placeholder="Password"
                  required>
                </div>

                <div class="row justify-content-around">
                    <button type="submit" class="btn btn-danger">Confirm</button>
                    <a href="/" class="btn btn-primary">Cancel</a>
                </div>
              </form>
        </div>
      </div>
    </div>

  <%- include('../includes/scripts.ejs') %>
</body>
