<footer>
  <div class="row">
    <div class="col-12 footer_link">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Associations</a></li>
        <li><a href="#">Nous contacter</a></li>
      </ul>
    </div>
  </div>
</footer>
