<%- include('./includes/head.ejs') %>
</head>
<body>
  <%- include('./includes/navigation.ejs') %>
  <h1>Oops!!!</h1>
  <h2>error 400</h2>
  <p>We can't find that page</p>
  <%- include('./includes/scripts.ejs') %>
</body>
