<%- include('./includes/head.ejs') %>
<body>
  <%- include('./includes/navigation.ejs') %>
    <h1>Oops!!!</h1>
    <p>An unexpected error seems to have occured</p>
    <p>Why not try refreshing your page?</p>
    <p>You can contact us if the probleme persists</p>
  <%- include('./includes/scripts.ejs') %>
</body>
