<%- include('./includes/head.ejs') %>
<body>
  <%- include('./includes/navigation.ejs') %>
<p>Home Page</p>
<p>Don't be shy , try to help some assiocations</p>

  <%- include('./includes/scripts.ejs') %>
</body>
</html>
