
<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>
  <div class="container">
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary" href="/signup/associations" role="button">Associations</a>
        </div>
        <div class="col-6">
          <a class="btn btn-primary" href="/signup/users" role="button">Particuliers</a>

        </div>
    </div>
  </div>
  <%- include('./includes/scripts.ejs') %>
</body>
