/* background color first #eee*/
/* background color second #f7f7f7*/
/* color text footer #999*/

html {
  letter-spacing: 1px;
}
body {
  background-color: #eee !important;
}
a {
  color: black !important;
}
nav {
  height: 5rem;
}
nav a {
  margin-left: 20px !important;
}
/*  section -------------------------------*/
section {
  margin-bottom: 100px;
}
/*  Button -------------------------------*/
.button {
  background-color: #ff8c42;
  border-radius: 20px !important;
  padding: 10px 20px !important;
  color: #f7f7f7 !important;
  border: none;
}
.button_signup {
  margin: 0 1rem;
  border: none;
}
.button_edit-profile,
.button_settings {
  margin-top: 1rem;
  margin-bottom: 4rem;
  margin-left: 0 !important;
  background-color: #ff8c42;
  border-radius: 3px;
  padding: 10px 20px !important;
  color: #f7f7f7 !important;
  border: none;
}
.button_signup_page {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0 !important;
  background-color: #ff8c42;
  border-radius: 3px;
  padding: 10px 20px !important;
  color: #f7f7f7 !important;
  border: none;
}
.button_see-profile {
  padding: 10px 20px !important;
  border-radius: 3px;
  border: 1px solid black;
}
.btn_delete {
  border: none;
  text-align: center;
  margin-left: 1rem !important;
  background-color: #d3393e;
}
/*  Form -------------------------------*/
.card,
input {
  background-color: inherit !important;
}

/*  Home Page-------------------------------*/
/*  Section presentation -------------------------------*/
.presentation .title_message_presentation,
.message_presentation,
.button_message_presentation {
  margin: 3rem 0;
}
/*  Section Steps -------------------------------*/
.step > * {
  margin-bottom: 2rem;
}
.steps_title {
  text-align: center;
  margin-bottom: 2rem;
}
.steps > .row {
  margin-bottom: 3rem;
}

/*  Footer -------------------------------*/
footer {
  background-color: #2b2b2b;
  height: 4rem;
  text-align: center;
}
footer ul li {
  list-style: none;
  display: inline-block !important;
  margin: 0 1.5rem;
}
footer ul {
  margin: 0;
}
footer a {
  color: #999 !important;
  text-decoration: none !important;
}
.footer_link {
  padding: 1rem;
}

/*  Profile Page -------------------------------*/
.profile {
  justify-content: center;
}
.profile h3,
p {
  margin: 2rem 0;
}
.card,
.profile_edit ul {
  margin-top: 5rem;
}
.profile_edit ul li {
  list-style: none;
  margin-bottom: 1rem;
}
.profile_edit ul li:last-child {
  margin-top: 2rem !important;
}
.profile_edit,
.profile_page {
  min-height: calc(100vh - 5rem);
  background-color: #f7f7f7 !important;
}

/*  Settings Page -------------------------------*/
.settings {
  background-color: #f7f7f7 !important;
}
.settings .card {
  margin: 1rem 0;
}

/*  Signup and Login Page -------------------------------*/
.signup_page,
.login_page {
  min-height: calc(100vh - 5rem);
  background-color: #f7f7f7 !important;
}
.signup_page form,
.login_page form {
  margin-top: 5rem;
}
